@import './reset.scss';
@import './theme.scss';

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

$background: map-deep-get($theme, "backgroud");
$forground: map-deep-get($theme, "foreground");
$border: map-deep-get($theme, "gray3");
$error: map-deep-get($theme, "error");

body {
    padding: 50px;
    font: 14px "Lucida Console", Monaco, monospace;
    color: $forground;
    background-color: $background;
}

a {
    color: #00b7ff;
}

#toolbar {
    padding: 10px;
}

#container {
    box-shadow: 0 0 0 1px $border;
    width: 700px;
    height: 700px;
}

#work-area {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#error-bar {
    color: $error;
    box-shadow: 0 0 0 1px $error;
    padding: 5px;
}

.hidden {
    display: none;
}