$theme: (
  gray1: #212529,
  gray2: #343A40,
  gray3: #495057,
  gray4: #6C757D,
  gray5: #ADB5BD,
  gray6: #CED4DA,
  gray7: #DEE2E6,
  gray8: #E9ECEF,
  gray9: #F8F9FA,
  backgroud: #212529,
  foreground: #F8F9FA,
  active: #f9c74f,
  selection: #90be6d,
  helper: #adb5bd,
  breadboard: #EBEDE4,
  error: #f94144
);