extends layout

block content
  #error-bar.hidden
  #toolbar
    button(onclick='clearActionsHistory()') clear history
    button(onclick='add245()') 245
    button(onclick='addOrthogonal()') wire
    button(onclick='toolSelect()') select
    button(onclick='deleteSelection()') delete
    button(onclick='downloadScene()') save
    input(type="file" id="file-selector" multiple)
  #work-area
    #container    
  script(src='/gen/bundle.js')