extends layout

block content
  #work-area
    #header
      #error-bar.hidden
      #toolbar
        button(onclick='clearActionsHistory()') clear history
        button(onclick='downloadSchematic()') save
        input(type="file" id="file-selector" multiple)
    #drawing
      #scheme-area(class='area' data-stage='scheme')
        #scheme-toolbar
          button(onclick='add245()') 245
          button(onclick='addOrthogonal()') wire
          button(onclick='toolSelect()') select
          button(onclick='deleteSelection()') delete
          input(type='checkbox' onclick='toggleGridAlignment(this)')
          | align
        #scheme
      #physical-area(class='area' data-stage='physical')
        #physical-toolbar
          button(onclick='addBreadboard()') BB
          button(onclick='add245physical()') 245
          button(onclick='addOrthogonal()') wire
          button(onclick='selectPhysical()') select
          input(type='checkbox' onclick='toggleGridAlignment(this)')
          | align
        #physical
  script(src='/gen/bundle.js')